<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.go.meti.drone.relatedpartiesnotice.messagesend.repository.mapper.AirwayReservationMapper">
  <insert id="insertAirwayReservation" parameterType="jp.go.meti.drone.relatedpartiesnotice.messagesend.repository.entity.AirwayReservationEntity">
	INSERT INTO airway_reservation (
		request_id,
		airway_reserve_id,
		operator_id,
		event_id,
		flight_purpose,
		status,
		reserved_at,
		uasl_id,
		updated_at,
		creation_id, 
		creation_datetime, 
		update_id, 
		update_datetime) 
		VALUES (
			#{requestId},
			#{airwayReserveId},
			#{operatorId},
			#{eventId},
			#{flightPurpose},
			#{status},
			#{reservedAt},
			#{uaslId},
			#{updatedAt},
			#{creationId},
			CURRENT_TIMESTAMP,
			#{updateId},
			CURRENT_TIMESTAMP)
  </insert>
  
  <update id="updateByAirwayReservation" parameterType="jp.go.meti.drone.relatedpartiesnotice.messagesend.repository.entity.AirwayReservationEntity">
   UPDATE airway_reservation
     SET
	   status = #{status},
	   updated_at = #{updatedAt},
	   update_id = #{updateId}, 
	   update_datetime = CURRENT_TIMESTAMP
   WHERE
     request_id = #{requestId};
  </update>
</mapper>