<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.go.meti.drone.relatedpartiesnotice.messagesend.repository.mapper.AirwayReservationInfoMapper">
<resultMap id="AirwayReservationDetailMap" type="jp.go.meti.drone.relatedpartiesnotice.messagesend.repository.entity.AirwayReservationInfoEntity">
        <!-- 航路予約関係者 -->
        <result property="airwayReserveId" column="airway_reserve_id"/>
        <result property="relatedOperatorId" column="related_operator_id"/>
        <result property="operatorName" column="operator_name"/>
        <result property="notificationEmail" column="notification_email"/>
        <!-- 航路予約情報 -->
        <result property="reservationOperatorId" column="reservation_operator_id"/>
        <result property="flightPurpose" column="flight_purpose"/>
        <result property="status" column="status"/>
        <result property="updatedAt" column="updated_at"/>
        <!-- 航路情報 -->
        <result property="airwayName" column="airway_name"/>
    </resultMap>

  <select id="selectReservationDetail" resultMap="AirwayReservationDetailMap">
    SELECT
            rr.airway_reserve_id,
            rr.operator_id AS related_operator_id,
            rr.operator_name,
            rr.notification_email,
            ar.operator_id AS reservation_operator_id,
            ar.flight_purpose,
            ar.status,
            ar.updated_at,
            a.airway_name
        FROM AIRWAY_RESERVE_RELATED rr
        JOIN AIRWAY_RESERVATION ar
            ON rr.request_id = ar.request_id
           AND rr.airway_reserve_id = ar.airway_reserve_id
        JOIN AIRWAY a
            ON ar.uasl_id = a.airway_id
        WHERE rr.request_id = #{requestId}
  </select>

</mapper>